{% extends 'base.html.twig' %}

{% block title %}Asistencia index{% endblock %}

{% block body %}
    <h1>Asistencia</h1>

    <table class="table">
        <thead>
            <tr>
               <th>Id</th>
                <th>IdEmp</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Registro</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for asistencium in asistencias %}
            <tr>
                <td>{{ asistencium.id }}</td>
                <td>{{ asistencium.user }}</td>
                <td>{{ asistencium.user.nombre }}</td>
                 <td>{{ asistencium.user.apellido }}</td>
                <td>{{ asistencium.fecha ? asistencium.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ asistencium.time ? asistencium.time|date('H:i:s') : '' }}</td>
                <td>{{ asistencium.registro }}</td>
                <td>
                    <a href="{{ path('app_asistencia_show', {'id': asistencium.id}) }}">show</a>
                    <a href="{{ path('app_asistencia_edit', {'id': asistencium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_asistencia_new') }}">Create new</a>
{% endblock %}
