{% extends 'base.html.twig' %}

{% block title %}Asistencia {% endblock %}

{% block body %}
<div class="container">
            {% if app.user %}
                <div class="mb-3">
                   <h2>Registro Asistencia <strong> {{ app.user.apellido }} - {{ app.user.nombre }}</strong> 
                   <a href="{{ path('app_logout') }}"></a></h2>
                </div>
            {% endif %}

    <table class="table">
        <thead>
            <tr>
               
                <th>IdEmp</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Area</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Registro</th>
               
            </tr>
        </thead>
        <tbody>
        {% for asistencium in asistencias %}
            <tr>
                <td>{{ asistencium.user }}</td>
                <td>{{ asistencium.user.nombre }}</td>
                <td>{{ asistencium.user.apellido }}</td>
                <td>{{ asistencium.user.area }}</td>
                <td>{{ asistencium.fecha ? asistencium.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ asistencium.time ? asistencium.time|date('H:i:s') : '' }}</td>
                <td>{{ asistencium.registro }}</td>
                <td>
                    {#<a href="{{ path('app_asistencia_show', {'id': asistencium.id}) }}">show</a>#}
                    {#<a href="{{ path('app_asistencia_edit', {'id': asistencium.id}) }}">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2><a href="{{ path('app_logout') }}"  ><strong>Salir</strong></a><h2>
</div>
{% endblock %}
